<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lyscharlie.test.dao.MyUserDao">

	<resultMap type="com.lyscharlie.test.domain.MyUserDO" id="myUserMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="birthday" column="birthday" />
		<result property="createTime" column="create_time" />
		<result property="modifyTime" column="modify_time" />
	</resultMap>

	<sql id="selectFields">
		id,
		name,
		birthday,
		create_time,
		modify_time
	</sql>

	<select id="selectById" parameterType="java.lang.Long" resultMap="myUserMap">
		SELECT
			<include refid="selectFields" />
		FROM
			my_user
		WHERE
			id=#{id}
	</select>

</mapper>